.emergency {
  background: #2D3748;
  padding: 20px 0;
}

.emergency .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: white;
}

.emergency .container .right {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.emergency .container .right span {
  padding: 10px 0;
  text-align: right;
}

.emergency .container .right span a {
  color: #e7dfdf;
}

.emergency .container .right span a:hover {
  opacity: .7;
}

@media screen and (max-width: 545px) {
  .emergency .container {
    flex-direction: column;
    align-items: flex-start;
  }
  .emergency .container .right {
    align-self: flex-end;
    margin-top: 30px;
  }
}
